*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --brand-color: #EF5F4C;
  --bg-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: rgba(255, 255, 255, 0.56);

  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --ff-sans: "Poppins", system-ui, sans-serif;

  --fw-base: 400;
  --fw-bold: 800;

  --fs-md: 0.875rem;
  --fs-sm: 0.75rem;
  --fs-m: 1rem;
  --fs-xl: 1.5rem;

  --px-lg: 1rem;

  --pd-y: 1rem;
  --pd-ya: 2rem;
}


html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-m);
  line-height: 1.7;
  color: var(--text-color-secondary);

  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);

  overflow-x: hidden;
}

h1 {
  line-height: 1.25;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
}

a {
  text-decoration: none;
  color: inherit;
}

@media (width >=80em) {
  :root {
    --fs-md: 0.875rem;
    --fs-sm: 0.75rem;
    --fs-xl: 2rem;

    --px-lg: 2rem;

    --pd-y: 1.25rem;
    --pd-ya: 2rem;
    --pd-yp: 1.5rem
  }
}